<div class="row">
  <div class="col-md-9 light-body">
    <div class="row">
      <div class="col-md-2 progresss mobile-only">
        <img src="/images/progress-3.png" width="100"/>
      </div>
    <div class="col-md-10">
    <h1 class="page-title">Project Submitted</h1>
  </div>
</div>

      <!-- Hidden input for authenticity token to protect from forgery -->

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<p style="text-align:center; font-size: 240px; color: #80b33c;line-height: 0px;margin: 0;"><i class="fa fa-check" aria-hidden="true"></i></p>

<h3 class="announcement" style="text-align:center;">We'll get started right away</h3>

<p style="text-align:center; margin-top: 50px; margin-bottom: 60px;"><a class="blue-btn-lg" href="/dashboard">Back to Dashboard</a></p>


<p style="text-align:center;">"<img src="/images/submitted.png" style="width: 100%;max-width:500px; margin-bottom:-89px;"/></p>
  </div>
  <div class="col-md-3 side-menu scrollify no-padding text-left">
    <div class="side-progress"><span class="sidelink disabled" href="/projects/start"><i class="fa fa-check-circle" aria-hidden="true"></i> Project Type</span></div>
    <div class="side-progress"><span class="sidelink disabled" href="javascript:history.back()"><i class="fa fa-check-circle" aria-hidden="true"></i> Project Details</span></div>
    <div class="side-progress"><span class="sidelink disabled"><i class="fa fa-check-circle" aria-hidden="true"></i> Upload Files</span></div>
    <div class="side-progress"><span class="sidelink disabled"><i class="fa fa-circle" aria-hidden="true"></i> Review Project</span></div>
    </div>

</div>
</form>
