<div class="row">
  <div class="col-md-8">
  <h1 class="welcome">Confirm Your Email</h1>
  <h2 class="subwelcome">Please visit your email and click on the confirmation link we sent to access your account. See you soon!</h2>
  <img src="/images/confirm_email.png" style="width: 200px;"/>
</div>
</div>
