<!-- Validation failure messages -->
<% if @subscription.errors.any? %>
  <% @subscription.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Subscription</h3>
</div>

<form action="/create_subscription" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" id="client_id" name="client_id" placeholder="Client" class="form-control" value="<%= current_client.id %>">
  <input type="hidden" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @subscription.end_date %>">

<div class="row pricing">
					<div class="col-md-3">
						<div class="well">
							<h3><b>Plan 1</b></h3>
							<hr>
							<p>1 GB Datatransfer</p>
							<hr>
							<p>1 GB Storage</p>
							<hr>
							<p><b>€ 2,99 /PM</b></p>
							<hr>
							<button class="btn btn-success btn-block" name="plan_id" value="1">Select</button>
						</div>
					</div>
					<div class="col-md-3">
						<div class="well">
							<h3><b>Plan 2</b></h3>
							<hr>
							<p>2 GB Datatransfer</p>
							<hr>
							<p>2 GB Storage</p>
							<hr>
							<p><b>€ 3,99 /PM</b></p>
							<hr>
							<button class="btn btn-success btn-block" name="plan_id" value="2">Select</button>
						</div>
					</div>
					<div class="col-md-3">
						<div class="well">
							<h3><b>Plan 3</b></h3>
							<hr>
							<p>3 GB Datatransfer</p>
							<hr>
							<p>3 GB Storage</p>
							<hr>
							<p><b>€ 4,99 /PM</b></p>
							<hr>
							<button class="btn btn-success btn-block" name="plan_id" value="3">Select</button>
						</div>
					</div>
					<div class="col-md-3">
						<div class="well">
							<h3><b>Plan 4</b></h3>
							<hr>
							<p>4 GB Datatransfer</p>
							<hr>
							<p>4 GB Storage</p>
							<hr>
							<p><b>€ 5,99 /PM</b></p>
							<hr>
              <button class="btn btn-success btn-block" name="plan_id" value="4">Select</button>
						</div>
					</div>

    </form>
  </div>
</div>
