<!-- Validation failure messages -->
<% if @subscription.errors.any? %>
  <% @subscription.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Choose Your Plan</h3>
</div>

<form action="/create_subscription" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" id="client_id" name="client_id" placeholder="Client" class="form-control" value="<%= current_client.id %>">
  <input type="hidden" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @subscription.end_date %>">

<div class="row pricing">
					<div class="col-md-3">
						<div class="well">
							<p class="plan-logo"><img src="/images/llama-logo.png" style="width: 30px;" /></p>
              <h3 class="plan-title">Trial</h3>
							<p class="plan-price">FREE</p>
							<p class="plan-hour"><b>1 hour</b></p>
							<p class="plan-text">Great to test out the service and see if it works for you.</p>
							<button class="btn btn-success btn-block" name="plan_id" value="1">Select</button>
						</div>
					</div>
          <div class="col-md-3">
						<div class="well">
							<p class="plan-logo"><img src="/images/llama-logo.png" style="width: 30px;" /></p>
              <h3 class="plan-title">Startup</h3>
							<p class="plan-price">$275</p>
							<p class="plan-hour"><b>5 hrs/month</b></p>
							<p class="plan-text">Great for social media and website updates.</p>
							<button class="btn btn-success btn-block" name="plan_id" value="2">Select</button>
						</div>
					</div>
          <div class="col-md-3">
						<div class="well">
							<p class="plan-logo"><img src="/images/llama-logo.png" style="width: 30px;" /></p>
              <h3 class="plan-title">Small Biz</h3>
							<p class="plan-price">$500</p>
							<p class="plan-hour"><b>10 hrs/month</b></p>
							<p class="plan-text">Great for  marketing campaigns and updates.</p>
							<button class="btn btn-success btn-block" name="plan_id" value="3">Select</button>
						</div>
					</div>
          <div class="col-md-3">
						<div class="well">  
							<p class="plan-logo"><img src="/images/llama-logo.png" style="width: 30px;" /></p>
              <h3 class="plan-title">VIP</h3>
							<p class="plan-price">$850</p>
							<p class="plan-hour"><b>20 hrs/month</b></p>
							<p class="plan-text">Great for having a go-to marketing agency.</p>
							<button class="btn btn-success btn-block" name="plan_id" value="4">Select</button>
						</div>
					</div>

    </form>
  </div>
</div>
